# Based on this MariaDB guide:
# https://mariadb.com/kb/en/mariadb-maxscale-6-simple-sharding-with-two-servers/

[shard1]
type                = server
# Must match docker-compose service name
address             = shard1
port                = 3306
protocol            = MariaDBBackend

[shard2]
type                = server
# Must match docker-compose service name
address             = shard2
port                = 3306
protocol            = MariaDBBackend

[MariaDB-Monitor]
type                = monitor
module              = mariadbmon
# should match server names in [brackets] above
servers             = shard1, shard2
user                = maxuser
password            = maxpwd

[Sharded-Service]
type                = service
router              = schemarouter
# should match server names in [brackets] above
servers             = shard1, shard2
user                = maxuser
password            = maxpwd

[Sharded-Service-Listener]
type                = listener
service             = Sharded-Service
protocol            = MariaDBClient
# must be added to the port mapping for the maxscale service in docker-compose
port                = 4000
